@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
  @include wrapper;
}

.wrap {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 21px;
}

.logo {
  @include interactive;

  position: relative;
  z-index: 3;

  flex-shrink: 0;
}

.locale {
  @include interactive;

  position: absolute;
  right: 392px;
  z-index: 3;

  padding: 0;
  padding-right: 18px;

  font-size: inherit;
  line-height: 19px;
  font-family: inherit;
  color: $font-semidark;

  background: transparent;
  background-image: url("../../public/images/select.svg");
  background-repeat: no-repeat;
  background-position: 100% center;
  border: none;
  cursor: pointer;
}

.menu,
.menuOpened {
  position: relative;
  z-index: 3;

  display: none;
}

@media (max-width: 1229px) {
  .wrap {
    position: static;

    justify-content: flex-start;
  }

  .locale {
    position: static;

    margin-left: auto;
  }

  .menuOpened,
  .menu {
    @include interactive;

    display: block;
    flex-shrink: 0;
    order: -1;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    padding: 0;

    background-color: transparent;
    background-image: url("../../public/images/menu.svg");
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    cursor: pointer;
  }

  .menuOpened {
    background-image: url("../../public/images/plus.svg");
    transform: rotate(45deg);
  }
}
