@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
  @include wrapper;

  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 34px;

  font-size: 16px;
  line-height: 19px;
  color: $font-semidark;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 691px;
  margin-top: 5px;
}

.logo {
  @include interactive;

  flex-shrink: 0;
}

.navList,
.navListVisible,
.loginList,
.loginListVisible {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.navList,
.navListVisible {
  flex-wrap: wrap;
  justify-content: flex-end;

  text-transform: uppercase;
}

.navItem {
  margin-bottom: 5px;
  margin-left: 43px;
}

.link {
  @include interactive;
}

.locale {
  @include interactive;

  margin-right: 40px;
  margin-left: auto;
  padding: 0;
  padding-right: 18px;
  padding-left: 43px;

  font-size: inherit;
  font-family: inherit;
  color: inherit;

  background: transparent;
  background-image: url("../../public/images/select.svg");
  background-repeat: no-repeat;
  background-position: 100% center;
  border: none;
  cursor: pointer;
}

.button,
.buttonSignUp {
  @include button;

  width: 221px;
  min-height: 41px;

  font-size: inherit;
  line-height: inherit;
  text-transform: none;

  border-radius: 6px;
}

.buttonSignUp {
  width: 110px;
  margin-left: 21px;

  color: $main-accent;

  background-color: transparent;
  border: 2px solid $main-accent;
}

.menu {
  display: none;
}

@media (max-width: 1229px) {
  .menu {
    @include interactive;

    display: block;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    padding: 0;

    background-color: transparent;
    background-image: url("../../public/images/menu.svg");
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    cursor: pointer;
  }

  .navList,
  .loginList {
    display: none;
  }

  .navListVisible {
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 1;

    flex-direction: column;
    width: 100%;

    background-color: #ffffff;
  }

  .navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 41px;
    margin: 0;
  }

  .loginListVisible {
    position: absolute;
    top: 198px;
    right: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: #ffffff;
  }

  .button,
  .buttonSignUp {
    width: auto;

    color: inherit;
    text-transform: uppercase;

    background-color: transparent;
    border: none;
    border-radius: none;
  }

  .buttonSignUp {
    margin: 0;
  }
}

@media (max-width: 599px) {
  .header {
    padding-right: 24px;
    padding-left: 24px;
  }

  .locale {
    margin-right: 28px;
  }

  .menu {
    margin-right: 5px;
  }
}

@media (max-width: 340px) {
  .locale {
    margin-right: 10px;
  }
}
