@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.faq {
  font-size: 18px;
  line-height: 28px;
  color: $font-main;

  background-image: url("../../public/images/faq-background-left-desktop.svg"),
  url("../../public/images/faq-background-right-desktop.svg");
  background-repeat: no-repeat;
  background-position: 0 80px, right 0 top 180px;

  b {
    color: $font-dark;
  }

  p {
    margin-top: 0;
  }

  ol {
    padding: 0;

    list-style-position: inside;
  }
}

.wrap {
  @include wrapper;
}

.title {
  @include section-title;
}

.accent {
  color: $second-accent;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (max-width: $tablet-width) {
  .faq {
    line-height: 26px;

    background-image: url("../../public/images/faq-background-right-mobile.svg");
    background-position: 100% 141px;
  }
}
