@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.technology {
  margin-top: 38px;
}

.wrap {
  @include wrapper;

  background-image: url("../../public/images/technology.svg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 650px 458px;
}

.title {
  margin-top: 0;
  margin-bottom: 12px;
  padding-top: 55px;

  font-weight: 700;
  font-size: 52px;
  line-height: 88px;
  color: $font-dark;
}

.accent {
  color: $second-accent;
}

.description {
  max-width: 524px;
  margin-top: 12px;

  font-size: 24px;
  line-height: 34px;
  color: $font-main;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 145px;
  padding: 0;

  list-style: none;

  &:before {
    content: "";

    order: 1;
    width: 100%;
  }
}

@mixin item {
}

.item1 {
  order: 0;
  margin-top: 0;
}

.item2,
.item3,
.item4 {
  order: 2;
  margin-top: 81px;
}

.link {
  @include interactive;

  position: relative;

  display: block;
  width: 354px;
  min-height: 322px;
  padding-top: 189px;
  padding-right: 20px;
  padding-left: 20px;

  text-align: center;

  border-radius: 12px;
  box-shadow: 0 0 15px -2px rgba(#000000, 0.07);

  &::before {
    position: absolute;
    top: 30px;
    left: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 123px;
    margin-left: -61.5px;

    font-weight: 500;
    font-size: 66px;
    color: $main-accent;

    border-radius: 50%;
    box-shadow: 0 0 15px -2px rgba(#000000, 0.07);
  }
}

.item1 .link::before {
  content: "1";
}

.item2 .link::before {
  content: "2";
}

.item3 .link::before {
  content: "3";
}

.item4 .link::before {
  content: "4";
}

.itemTitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $font-dark;
}

.itemDescription {
  font-size: 15px;
  line-height: 20px;
  color: $font-main;
}
