@import "../../../styles/mixins.scss";

@mixin arrow {
  @include interactive;

  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;

  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.next {
  @include arrow;

  right: calc(50% - 642px);
  bottom: -4px;

  width: 67px;
  height: 43px;

  background-image: url("../../../public/images/arrow-right.svg"),
  url("../../../public/images/arrow-background.svg");
  background-position: 8px 3px, 26px 0;
}

.prev {
  @include arrow;

  right: calc(50% - 552px);
  bottom: 3px;

  width: 41px;
  height: 33px;

  background-image: url("../../../public/images/arrow-left.svg");
}

@media (max-width: 1369px) {
  .next {
    right: 59px;
    bottom: -2px;

    width: 45px;
    height: 29px;

    background-position: 8px 3px, 26px 0;
    background-size: 35px 22px, 27px 27px;
  }

  .prev {
    right: 119px;
    bottom: 2px;

    width: 27px;
    height: 22px;

    background-size: contain;
  }
}

@media (max-width: 969px) {
  .next {
    right: calc(50% - 69px);
    bottom: 512px;

    width: 67px;
    height: 43px;

    background-position: 5px 2px, 23px 0;
    background-size: 52px 33px, 40px 40px;
  }

  .prev {
    bottom: 520px;
    left: calc(50% - 59px);

    width: 41px;
    height: 33px;
  }
}
