@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.privacy {
  font-size: 18px;
  line-height: 28px;
  color: $font-main;

  background-image: url("../../public/images/privacy-police-background-right-desktop.svg");
  background-repeat: no-repeat;
  background-position: 100% -120px;

  b {
    color: $font-dark;
  }
}

.wrap {
  @include wrapper;
}

.title {
  @include section-title;
}

.accent {
  color: $second-accent;
}

@media (max-width: $tablet-width) {
  .privacy {
    text-align: center;

    background-image: url("../../public/images/privacy-police-background-right-mobile.svg");
    background-position: 100% 278px;
  }
}
