@import "../../styles/mixins.scss";

.mainSlider {
  position: relative;

  margin: 0 auto;
  margin-top: 28px;
}

@media (max-width: 969px) {
  .mainSlider {
    position: static;

    margin-top: 5px;
    padding-bottom: 70px;
  }

  .slider {
    position: static !important;
  }
}
