@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.features {
  position: relative;

  margin-top: 95px;

  background-image: url("../../public/images/features-background-left.svg");
  background-repeat: no-repeat;
  background-position: 0 -92px;

  &::before {
    content: "";
    position: absolute;
    top: 37px;
    right: 0;

    width: 226px;
    height: 880px;

    background-image: url("../../public/images/features-background-right.svg");
    background-repeat: no-repeat;
  }
}

.wrap {
  @include wrapper;
}

.slogan {
  width: 880px;

  font-weight: 500;
  font-size: 42px;
  line-height: 55px;
  color: $font-dark;
}

.accent {
  color: $second-accent;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  margin-top: 87px;
  padding: 0;

  list-style: none;
}

@mixin item {
  position: relative;

  width: 197px;
  padding-top: 118px;

  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: $font-main;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    width: 90px;
    height: 90px;
    margin-left: -45px;

    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    box-shadow: 0 0 15px -2px rgba(#000000, 0.07);
  }

  &::after {
    content: "";
    position: absolute;
    top: -2px;
    right: -60px;

    width: 1px;
    height: 201px;

    background-color: $border-section;
  }
}

.time {
  @include item;

  &::before {
    background-image: url("../../public/images/feature-time.svg");
    background-size: 69px 69px;
  }
}

.health {
  @include item;

  &::before {
    background-image: url("../../public/images/feature-health.svg");
    background-size: 62px 63px;
  }
}

.accessibility {
  @include item;

  &::before {
    background-image: url("../../public/images/feature-accessibility.svg");
    background-size: 63px 63px;
  }
}

.information {
  @include item;

  &::before {
    background-image: url("../../public/images/feature-information.svg");
    background-size: 62px 63px;
  }

  &::after {
    display: none;
  }
}
