@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.features {
  position: relative;

  margin-top: 95px;

  background-image: url("../../public/images/features-background-left.svg");
  background-repeat: no-repeat;
  background-position: 0 -92px;

  &::before {
    content: "";
    position: absolute;
    top: 37px;
    right: 0;

    width: 226px;
    height: 880px;

    background-image: url("../../public/images/features-background-right.svg");
    background-repeat: no-repeat;
  }
}

.wrap {
  @include wrapper;
}

.slogan {
  width: 880px;

  font-weight: 500;
  font-size: 42px;
  line-height: 55px;
  color: $font-dark;
}

.accent {
  color: $second-accent;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  margin-top: 87px;
  padding: 0;

  list-style: none;
}

@mixin item {
  position: relative;

  flex-grow: 1;
  padding-top: 118px;

  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: $font-main;

  border-right: 1px solid $border-section;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    width: 90px;
    height: 90px;
    margin-left: -45px;

    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    box-shadow: 0 0 15px -2px rgba(#000000, 0.07);
  }

  @media (max-width: 1099px) {
    margin-bottom: 50px;
  }

  @media (max-width: 659px) {
    margin-bottom: 41px;

    border: none;
  }
}

.time {
  @include item;

  &::before {
    background-image: url("../../public/images/feature-time.svg");
    background-size: 69px 69px;
  }
}

.health {
  @include item;

  &::before {
    background-image: url("../../public/images/feature-health.svg");
    background-size: 62px 63px;
  }
}

.accessibility {
  @include item;

  &::before {
    background-image: url("../../public/images/feature-accessibility.svg");
    background-size: 63px 63px;
  }
}

.information {
  @include item;

  border: none;

  &::before {
    background-image: url("../../public/images/feature-information.svg");
    background-size: 62px 63px;
  }
}

.description {
  width: 193px;
  margin: 0 auto;
}

@media (max-width: 1099px) {
  .list {
    display: grid;

    grid-template-columns: 1fr 1fr;
  }

  .health {
    border: none;
  }

  .slogan {
    width: 670px;

    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
    color: $font-dark;
  }
}

@media (max-width: 970px) {
  .features {
    margin-top: 25px;
  }
}

@media (max-width: 779px) {
  .slogan {
    width: 500px;
  }
}

@media (max-width: 659px) {
  .features {
    background-image: url("../../public/images/features-background-right-mobile.svg");
    background-position: 100% 142px;

    &::before {
      content: "";
      position: absolute;
      top: auto;
      bottom: -109px;
      left: 0;

      width: 50px;
      height: 232px;

      background-image: url("../../public/images/features-background-left-mobile.svg");
      background-repeat: no-repeat;
    }
  }

  .slogan {
    width: auto;

    font-size: 28px;
    line-height: 36px;
    text-align: center;
  }

  .list {
    display: block;
    margin-top: 61px;
  }

  .description {
    width: auto;
  }
}
