@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.footer {
  margin-top: 100px;
  padding-bottom: 46px;

  font-size: 16px;
  line-height: 24px;
  color: $font-semilight;

  background-image: url("../../public/images/footer-background.svg");
  background-repeat: no-repeat;
  background-position: 0 18px;
}

.wrapper {
  @include wrapper;
}

.footerWrap {
  position: relative;

  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 91px;
  padding-bottom: 14px;

  border-top: 1px solid $border-section;
}

.section {
  flex-shrink: 0;
}

.support {
  width: 480px;
  margin-right: 41px;
}

.researches {
  width: 254px;
  margin-right: 94px;
}

.about {
  width: 193px;
  margin-right: 43px;
}

.contacts {
  width: 175px;
  margin-left: auto;
}

.title {
  margin-top: 0;
  margin-bottom: 29px;

  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: $main-accent;
  text-transform: uppercase;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.item {
  margin-bottom: 16px;
}

.link {
  @include interactive;
}

.tel,
.email {
  @include interactive;

  display: block;
  margin-bottom: 21px;
  padding-left: 32px;

  background-image: url("../../public/images/phone.svg");
  background-repeat: no-repeat;
}

.tel {
  background-image: url("../../public/images/phone.svg");
}

.email {
  background-image: url("../../public/images/email.svg");
}

.companies {
  display: flex;
  margin: 0;
  margin-top: -7px;
  padding: 0;

  list-style: none;

  transform: translateX(-5px);
}

.company {
  @include interactive;
}

.skolkovo {
  margin-right: 5px;
}

.social {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 63px;
  padding: 0;

  list-style: none;
}

@mixin socialLink {
  @include interactive;

  display: block;
  width: 28px;
  height: 28px;

  background-color: $main-accent;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 8px;
}

.instagram {
  @include socialLink;

  background-image: url("../../public/images/instagram.svg");
}

.vk {
  @include socialLink;

  background-image: url("../../public/images/vk.svg");
}

.facebook {
  @include socialLink;

  background-image: url("../../public/images/facebook.svg");
}
.twitter {
  @include socialLink;

  background-image: url("../../public/images/twitter.svg");
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 1289px) {
  .footerWrap {
    display: grid;

    grid-template-columns: 1fr 1fr;
  }

  .support,
  .researches,
  .about,
  .contacts {
    margin: 0;
  }

  .researches {
    justify-self: end;
  }

  .contacts {
    width: 254px;

    justify-self: end;
  }

  .social {
    width: 175px;
  }
}

@media (max-width: 915px) {
  .footer {
    margin-top: 69px;
    padding-bottom: 25px;

    line-height: 22px;

    background-image: url("../../public/images/footer-background-left-mobile.svg"),
    url("../../public/images/footer-background-right-mobile.svg");
    background-position: 0 4px, right 0 bottom 7px;
  }

  .footerWrap {
    display: block;
    padding-top: 73px;
  }

  .support,
  .researches,
  .about,
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0 auto;
    margin-bottom: 65px;

    text-align: center;
  }

  .companies {
    justify-content: center;
  }

  .social {
    margin: 0 auto;
    margin-top: 37px;
  }

  .tel {
    align-self: start;
    margin-left: 11px;
    padding-left: 25px;
  }

  .copyright {
    position: static;

    margin-top: -13px;

    text-align: center;
  }
}
