@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.footer {
  font-size: 16px;
  line-height: 24px;
  color: $font-semilight;

  background-image: url("../../public/images/footer-background.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 930px) 10px;
}

.wrapper {
  position: relative;

  display: flex;
  width: 1280px;
  margin: 0 auto;
  padding-top: 91px;
  padding-bottom: 60px;

  border-top: 1px solid $border-section;
}

.section {
  flex-shrink: 0;
}

.support {
  width: 480px;
  margin-right: 41px;
}

.researches {
  width: 254px;
  margin-right: 94px;
}

.about {
  width: 193px;
  margin-right: 43px;
}

.contacts {
  width: 175px;
  margin-left: auto;
}

.title {
  margin-top: 0;
  margin-bottom: 29px;

  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: $main-accent;
  text-transform: uppercase;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.item {
  margin-bottom: 16px;
}

.link {
  @include interactive;
}

.companies {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  transform: translateX(-5px);
}

.company {
  @include interactive;
}

.skolkovo {
  margin-right: 5px;
}

.social {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 75px;
  padding: 0;

  list-style: none;
}

@mixin socialLink {
  @include interactive;

  display: block;
  width: 29px;
  height: 29px;
}

.instagram {
  @include socialLink;

  background-image: url("../../public/images/instagram.svg");
}

.vk {
  @include socialLink;

  background-image: url("../../public/images/vk.svg");
}

.facebook {
  @include socialLink;

  background-image: url("../../public/images/facebook.svg");
}
.twitter {
  @include socialLink;

  background-image: url("../../public/images/twitter.svg");
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
}
