@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.terms {
  font-size: 18px;
  line-height: 28px;
  color: $font-main;

  b {
    color: $font-dark;
  }
}

.wrap {
  @include wrapper;
}

.title {
  @include section-title;
}

.accent {
  color: $second-accent;
}

.subTitle {
  @include subtitle;

  margin-top: 30px;
}

@media (max-width: $tablet-width) {
  .terms {
    text-align: center;
  }
}
