@import "./variables.scss";

@mixin wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 80px;
  padding-left: 80px;

  @media (max-width: $tablet-width) {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@mixin button {
  @include interactive;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 72px;
  padding: 10px;

  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: $font-light;
  text-transform: uppercase;

  background-color: $main-accent;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

@mixin interactive {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

@mixin slide {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  min-height: 757px;
  margin: 0 auto;
  padding: 0 80px;
  padding-top: 131px;

  background-repeat: no-repeat;

  @media (max-width: 1369px) {
    min-height: 430px;
    padding-top: 31px;
  }

  @media (max-width: 969px) {
    padding-top: 292px;

    text-align: center;
  }

  @media (max-width: 599px) {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@mixin section-title {
  margin: 10px 0;

  font-weight: 700;
  font-size: 42px;
  line-height: 88px;
  color: $font-dark;

  @media (max-width: $tablet-width) {
    font-size: 28px;
    line-height: 36px;
  }
}

@mixin subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: $font-dark;
}
