//colors
$darkcyan: #139988;
$mintcream: #f9fffe;
$darkslategrey: #2d4b48;
$lightslategrey: #7c8d8b;
$whitesmoke: #e7f2f1;

//color-types
$main-accent: $darkcyan;
$font-light: $mintcream;
$font-semidark: $darkslategrey;
$font-semilight: $lightslategrey;
$border-section: $whitesmoke;
