//colors
$darkcyan: #139988;
$mintcream: #f9fffe;
$darkslategrey: #2d4b48;
$lightslategrey: #7c8d8b;
$slategrey: #6a7d7b;
$whitesmoke: #e7f2f1;
$mediumblue: #123bbd;
$black: #232323;

//color-types
$main-accent: $darkcyan;
$second-accent: $mediumblue;
$font-main: $slategrey;
$font-dark: $black;
$font-light: $mintcream;
$font-semidark: $darkslategrey;
$font-semilight: $lightslategrey;
$border-section: $whitesmoke;

//sizes
$tablet-width: 767px;

//resolution
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
